/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/* Header */

header{
  text-align: center;
}

.getInput {
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25vh;
  
  /* Glassmorphism effect */
  background: rgba(226, 226, 226, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.2px);
  -webkit-backdrop-filter: blur(13.2px);
}

/* Result Section */

/* Background */

body{
  background-image: url(../img/darkbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Styling */

header {
  color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

